@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.about {
  @include flex(column, center, center);
  padding: 80px 0;

  h1 {
    font-size: 42px;
    color: $dark_gray;
    font-weight: 700;
  }
  .header-bar {
    height: 4px;
    width: 120px;
    background-color: $dark_gray;
    margin: 10px 0 100px 0;
  }

  .cards {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    @media (min-width: 1010px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
