@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.about {
  @include flex(column, center, center);
  padding: 100px 0;

  h1 {
    font-size: 42px;
    color: $dark_gray;
    font-family: "Raleway-bold";
  }
  .header-bar {
    height: 4px;
    width: 120px;
    background-color: $dark_gray;
    margin: 15px 0 100px 0;
  }

  .cards {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
