@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.about {
  @include flex(column, center, center);
  padding-top: 70px;

  h1 {
    font-weight: 700;
    color: $dark_gray;
  }
  .header-border-bottom {
    @include size(4px, 120px);
    background-color: $dark_gray;
    margin: 10px 0 70px 0;
  }

  .cards {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    @media (min-width: 1010px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .bottom-container {
    @include flex(row, space-between);
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    padding: 40px;

    @media (max-width: 1010px) {
      flex-direction: column-reverse;
      padding-bottom: 50px;
    }

    .about-me-wrapper {
      @include flex(column, center, center);
      width: 50%;

      img {
        height: 290px;
        position: relative;
        top: 18px;
      }

      h2 {
        font-weight: 700;
        position: relative;

        .wave {
          position: absolute;
          bottom: 0;
          margin-left: 10px;
          font-size: 34px;
          animation-name: wave-animation;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          transform-origin: 70% 70%;
        }
      }
      p {
        padding: 15px 10px;
        font-size: 18px;
        line-height: 22px;
      }

      @media (max-width: 1010px) {
        width: 100%;
        padding: 0 100px;
        position: relative;
        top: 50px;
        // border-top: 1px solid rgb(224, 224, 224);
        padding-top: 20px;

        img {
          top: 10px;
        }
      }
    }

    .skills-wrapper {
      width: 400px;
      height: 400px;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 50%;
      position: relative;
      // animation: 20s spin infinite linear;

      img {
        position: absolute;
        background-color: #fff;
      }

      @include icons-positions;
    }
  }

  // .about level
  @media (max-width: 1010px) {
    h1 {
      font-size: 42px;
    }
  }

  @media (max-width: 750px) {
    h1 {
      font-size: 36px;
    }
    .header-bar {
      margin-bottom: 100px;
    }
  }

  @media (max-width: $iPhone_X) {
    h1 {
      font-size: 8vw;
    }
    .header-bar {
      width: 30vw;
    }
  }
}

@include spin;
@include wave-animation;
