.toggle-control {
  position: fixed;
  z-index: 999;
  left: 15px;
  top: 5px;
  transition-duration: 2s;
  cursor: pointer;
}

body.light-mode {
  h2,
  h1 {
    color: #fff;
  }
  p {
    color: #d7d7d8;
  }
  .header-border-bottom {
    background-color: #fff;
  }

  .about {
    background-color: #1c232c;

    .skills-wrapper {
      background-color: #1c232c;
      border-color: #2b3747;

      h1 {
        color: #2b3747;
      }

      .redux,
      .git {
        background-color: #1c232c;
      }
    }
  }

  .projects-container {
    background-color: #232c36;

    .diagonal-container {
      svg {
        background-color: #1c232c !important;

        polygon {
          fill: #232c36;
        }
      }
    }

    .inner-container {
      background-color: #1c232c;

      &:hover {
        background-color: #1c232c;

        .learn-more {
          background-color: #2d3947;

          .button-text {
            color: #fff;
          }
        }
      }
    }
  }

  .react-responsive-modal-modal {
    .details {
      background-color: #1c232c;

      a {
        color: #fff;
      }
    }
  }

  .contact-container {
    background-color: #27323f;

    .diagonal-container {
      svg {
        background-color: #232c36 !important;

        polygon {
          fill: #27323f;
        }
      }
    }
  }
}
