@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.button {
  height: 2.7rem;

  .learn-more {
    position: relative;
    cursor: pointer;
    width: 10rem;
    margin: auto;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    overflow: hidden;

    .circle {
      @include transition(all, 0.4s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50px;
      background-color: $light_green;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.5rem;
          width: 1.12rem;
          height: 0.125rem;

          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $white;
            border-right: 0.125rem solid $white;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 15px;
      bottom: 0;
      padding: 0.55rem 0;
      margin: 0 0 0 2.8rem;
      color: lighten($color: $dark_gray, $amount: 5);
      font-weight: 500;
      line-height: 1.6;
      font-size: 15px;
    }

    &:hover {
      .circle {
        width: 100%;
        background: $light_green;

        .icon {
          &.arrow {
            &::before {
              border-color: #fff;
            }
            background: $white;
            transform: translate(0.7rem, 0);
          }
        }
      }
      .button-text {
        color: $white;
      }
    }
  }
}
