@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.button {
  height: 2.5rem;
  overflow: hidden;

  @media (max-width: 455px) {
    height: 2.2rem;
  }

  .learn-more {
    position: relative;
    cursor: pointer;
    width: 9.5rem;
    margin: auto;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    overflow: hidden;
    border-radius: 50px;
    background-color: $light_gray;

    @media (max-width: 455px) {
      width: 9rem;
    }

    .circle {
      @include transition(all, 0.4s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50px;
      background-color: $light_green;

      @media (max-width: 455px) {
        height: 2.2rem;
        width: 2.2rem;
      }

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.4rem;
          width: 1.12rem;
          height: 0.125rem;

          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $white;
            border-right: 0.125rem solid $white;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 0.55rem 0;
      margin-left: 2.8rem;
      color: lighten($color: $dark_gray, $amount: 4);
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14.5px;

      @media (max-width: 455px) {
        font-size: 14px;
        margin-left: 2.6rem;
      }
      @media (max-width: 410px) {
        font-size: 13px;
      }
    }

    &:hover {
      .circle {
        width: 100%;
        background: $light_green;

        .icon {
          &.arrow {
            &::before {
              border-color: #fff;
            }
            background: $white;
            transform: translate(0.7rem, 0);

            @media (max-width: 455px) {
              transform: translate(0.5rem, 0);
            }
          }
        }
      }
      .button-text {
        color: $white;
      }
    }
  }
}
