@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.project-card {
  position: relative;
  width: 360px;
  height: 370px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $white;

  .border-top {
    height: 8px;
    background-color: $light_gray;
  }

  div:nth-of-type(2) {
    background-image: url("https://images.unsplash.com/photo-1598929439293-93f9d215b131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: opacity 0.4s;
  }

  .text,
  .button {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
  }

  .text {
    top: 0;
    h2 {
      margin-bottom: 10px;
      font-weight: 800;
    }
    span {
      font-size: 20px;
      color: red;
    }
  }
  .button {
    width: 170px;
    padding: 12px 0;
    bottom: 0;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    border: 2px solid $light_green;

    &:hover {
      background-color: $light_green;
      color: $white;
    }
  }

  &:hover {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    .border-top {
      background-color: $light_green;
      transition-duration: 0.5s;
    }
    .text {
      top: 100px;
      opacity: 1;
      z-index: 2;
    }
    .button {
      bottom: 100px;
      opacity: 1;
      z-index: 2;
    }
    .bg-img {
      opacity: 0;
    }
  }
}
