@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.card {
  overflow: hidden;
  position: relative;
  // border: 1px solid red;
  // margin: 10px;

  .macBook {
    width: 450px;
    height: 100%;
    border: 1px solid red;
  }

  .inner-container {
    position: absolute;
    width: 369px;
    height: 235px;
    top: 9px;
    left: 42px;
    background-color: #fff;

    .bg-img {
      background-position: center;
      background-size: cover;
      transition: opacity 0.4s;
      width: 100%;
      height: 100%;
    }

    .text,
    .button {
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: all 0.4s ease-in-out;
    }

    .text {
      top: 0;
      h2 {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 800;
      }
      span {
        font-size: 18px;
        color: red;
      }
    }
    .button {
      bottom: 0;
    }

    &:hover {
      .text {
        top: 40px;
        opacity: 1;
      }
      .button {
        bottom: 60px;
        opacity: 1;
      }
      .bg-img {
        opacity: 0;
      }
    }
  }
}
