@import "../styles/vaiables.scss";
@import "../styles/mixins.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;

  h2,
  p {
    color: lighten($color: $dark_gray, $amount: 6);
  }

  /******* Global h1 *******/
  h1 {
    font-size: 30pt;
    font-weight: 700;
    color: $dark_gray;
  }
  @media (max-width: 1010px) {
    h1 {
      font-size: 42px;
    }
  }
  @media (max-width: 750px) {
    h1 {
      font-size: 36px;
    }
  }
  @media (max-width: $iPhone_X) {
    h1 {
      font-size: 8vw;
    }
  }

  /******* Global h2 *******/
  h2 {
    @include fonts(5.2vw, 700);
  }
  /******* Global p *******/
  p {
    text-align: center;
    line-height: 1.5vh;
    font-size: 3.5vw;
  }

  @media (min-width: $iPhone_X) {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
    }
  }

  @media (min-width: 500px) {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
    }
  }

  @media (min-width: 750px) {
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 17px;
      line-height: 21px;
    }
  }
  @media (min-width: 950px) {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
      line-height: 23px;
    }
  }
}
