@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin size($height: 100%, $width: 100%) {
  height: $height;
  width: $width;
}

@mixin fonts($size, $weight, $family: inherit) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

@mixin icons-positions {
  .js {
    left: 22px;
    top: 40px;
    border-radius: 6px;
    padding: 5px 0;
    transform: rotate(40deg);

    @media (max-width: 600px) {
      top: 28px;
      left: 11px;
    }
  }

  .python {
    left: -29px;
    top: 140px;
    padding: 5px 0;

    @media (max-width: 600px) {
      top: 103px;
      left: -24px;
    }
  }

  .nodeJs {
    left: -7px;
    bottom: 80px;
    transform: rotate(-27deg);
    padding: 3px 0;

    @media (max-width: 600px) {
      bottom: 65px;
      left: -12px;
    }
  }

  .pg {
    bottom: -6px;
    left: 65px;
    transform: rotate(-56deg);
    padding: 5px 0;

    @media (max-width: 600px) {
      left: 41px;
      bottom: 3px;
    }
  }

  .git {
    bottom: -29px;
    left: 177px;
    transform: rotate(-2deg);
    background-color: #fff;

    @media (max-width: 600px) {
      left: 124px;
      bottom: -24px;
      transform: rotate(-1deg);
    }
  }

  .github {
    bottom: 11px;
    right: 53px;
    padding: 0 0 0 3px;

    @media (max-width: 600px) {
      bottom: 0;
      right: 47px;
      width: 45px;
    }
  }

  .sass {
    right: 23px;
    top: 36px;

    @media (max-width: 600px) {
      right: 9px;
      top: 30px;
      width: 45px;
    }
  }

  .html {
    right: -28px;
    top: 130px;
    transform: rotate(-5deg);
    padding: 3px 0;

    @media (max-width: 600px) {
      top: 108px;
      right: -24px;
    }
  }

  .css {
    right: -15px;
    bottom: 90px;
    padding: 5px 0;
    transform: rotate(22deg);

    @media (max-width: 600px) {
      bottom: 60px;
      right: -8px;
    }
  }

  .react {
    top: -21px;
    left: 107px;
    transform: rotate(42deg);

    @media (max-width: 600px) {
      left: 85px;
      top: -19px;
      transform: rotate(44deg);
    }
  }

  .redux {
    top: -23px;
    right: 118px;
    transform: rotate(20deg);
    background-color: #fff;

    @media (max-width: 600px) {
      right: 76px;
      top: -18px;
      width: 45px;
    }
  }
}

@mixin spin {
  // skills section spinning animation
  @keyframes spin {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
}

@mixin wave-animation {
  // hand waving animation
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
