@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin size($height: 100%, $width: 100%) {
  height: $height;
  width: $width;
}

@mixin fonts($size, $weight, $family: inherit) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

@mixin icons-positions {
  .js {
    left: 15px;
    top: 40px;
    border-radius: 6px;
    padding: 5px 0;
    transform: rotate(40deg);

    @media (max-width: 600px) {
      top: 25px;
    }
  }

  .python {
    left: -30px;
    top: 140px;
    padding: 5px 0;

    @media (max-width: 600px) {
      top: 103px;
      left: -20px;
    }
  }

  .nodeJs {
    left: -17px;
    bottom: 76px;
    transform: rotate(-25deg);

    @media (max-width: 600px) {
      bottom: 67px;
      left: -13px;
    }
  }

  .pg {
    bottom: -8px;
    left: 63px;
    transform: rotate(-56deg);
    padding: 5px 0;

    @media (max-width: 600px) {
      left: 40px;
      bottom: 5px;
    }
  }

  .git {
    bottom: -30px;
    left: 170px;
    padding: 0 5px;
    transform: rotate(-3deg);

    @media (max-width: 600px) {
      left: 120px;
      bottom: -29px;
      transform: rotate(2deg);
    }
  }

  .github {
    bottom: 7px;
    right: 50px;
    padding: 0 0 0 3px;

    @media (max-width: 600px) {
      bottom: -6px;
      right: 48px;
      width: 40px;
    }
  }

  .sass {
    right: 15px;
    top: 25px;

    @media (max-width: 600px) {
      right: 8px;
    }
  }

  .html {
    right: -30px;
    top: 125px;
    transform: rotate(-5deg);
    padding: 3px 0;

    @media (max-width: 600px) {
      top: 105px;
      right: -23px;
    }
  }

  .css {
    right: -16px;
    bottom: 95px;
    padding: 5px 0;
    transform: rotate(21deg);

    @media (max-width: 600px) {
      bottom: 62px;
      right: -10px;
      transform: rotate(23deg);
    }
  }

  .react {
    top: -23px;
    left: 100px;
    background-color: transparent;
    transform: rotate(42deg);

    @media (max-width: 600px) {
      left: 85px;
      top: -19px;
      transform: rotate(44deg);
    }
  }

  .redux {
    top: -25px;
    right: 118px;
    padding: 0 5px;
    transform: rotate(15deg);

    @media (max-width: 600px) {
      right: 85px;
      top: -22px;
      transform: rotate(18deg);
    }
  }
}

@mixin spin {
  // skills section spinning animation
  @keyframes spin {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
}

@mixin wave-animation {
  // hand waving animation
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}
