$white: #fafafa;
$dark_white: #f9f9f9;
$red: #ec3944;
$dark_gray: #444649;
$dark_blue: #141b2b;
$light_green: #04c2c9;
$medium_devices: 991.98px;
$small_devices: 767.98px;
$mobile: 520px;
$iPhone_X: 375px;
