@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.contact-container {
  background-color: #232d38;

  .contact {
    @include flex(column, center, center);
    max-width: 1400px;
    margin: auto;
    padding: 0 0 50px 0;

    h1 {
      color: $white;
    }
  }
}
