@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.contact-container {
  background-color: #232d38;

  .contact {
    @include flex(column, center, center);
    max-width: 1400px;
    margin: auto;
    padding: 20px 0 130px 0;

    h1 {
      color: $white;
    }
    .header-border-bottom {
      margin-bottom: 45px;
    }
  }

  .footer {
    height: 200px;
    background-color: #1b232c;
  }
}
