@import "../../styles/vaiables.scss";
@import "../../styles/mixins.scss";

.home {
  // background-color: rgb(24, 24, 39);
  height: 100vh;
  #bg-animation {
    background-color: rgba(24, 24, 39, 0.7);
    height: 100vh;
  }

  .heading {
    @include flex(column);
    @include size();
    position: absolute;
    top: 0;
    background-color: rgba(20, 27, 43, 0.3);

    h1 {
      font-size: 40px;
      color: $white;
      line-height: 40px;

      span {
        letter-spacing: 1px;
        font-weight: 700;
        color: $red;
        padding: 0 5px;
      }

      @media (max-width: $medium_devices) {
        font-size: 34px;
      }
      @media (max-width: $small_devices) {
        font-size: 32px;
      }
      @media (max-width: $mobile) {
        font-size: 6.2vw;
      }
    }

    img {
      width: 290px;
      position: relative;
      bottom: 4px;
      left: 80px;

      @media (max-width: $medium_devices) {
        width: 260px;
        left: 70px;
        bottom: 6px;
      }
      @media (max-width: $small_devices) {
        width: 240px;
        bottom: 7px;
      }
      @media (max-width: $mobile) {
        width: 50vw;
      }
      @media (max-width: 400px) {
        left: 12vw;
        bottom: 1.25vh;
      }
    }

    button {
      @include fonts(24px, 400);
      padding: 10px 15px;
      color: #fff;
      background-color: inherit;
      border: 2px solid $white;
      cursor: pointer;
      outline: none;
      margin-top: 40px;

      svg {
        margin-left: 12px;
        vertical-align: middle;
        z-index: 99;
        transition-duration: 0.3s;
        font-size: 32px;
      }

      &:hover {
        background-color: darken($color: $light_green, $amount: 4);
        border: 2px solid darken($color: $light_green, $amount: 4);
        transition-duration: 0.3s;

        svg {
          transform: rotate(90deg);
        }
      }

      @media (max-width: $small_devices) {
        font-size: 22px;
        svg {
          font-size: 26px;
        }
      }
      @media (max-width: $mobile) {
        font-size: 4.5vw;
        svg {
          font-size: 5.5vw;
        }
      }
    }
    @media (max-width: $mobile) {
      // background-color: rgba(20, 27, 43, 0.5);
    }
  }
}
