@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.home {
  background-color: #1a2129;

  #bg-animation {
    height: 100vh;
  }

  .heading {
    @include flex(column);
    @include size();
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(20, 27, 43, 0.3);

    .header {
      height: 100px;

      .Typist .Cursor {
        color: lighten($color: $light_green, $amount: 30);

        &--blinking {
          padding: 0;
          opacity: 1;
          animation: blink 1s linear infinite;
          font-weight: 500;
        }
      }

      h1 {
        font-size: 40px;
        font-weight: normal;
        color: $white;
        overflow: hidden;
        line-height: 40px;

        span {
          letter-spacing: 1px;
          font-weight: 700;
          color: $red;
          padding: 0 5px;
        }

        @media (max-width: $medium_devices) {
          font-size: 34px;
        }
        @media (max-width: $small_devices) {
          font-size: 32px;
        }
        @media (max-width: $mobile) {
          font-size: 6.2vw;
        }
      }

      img {
        width: 290px;
        position: relative;
        bottom: 4px;
        left: 80px;

        @media (max-width: $medium_devices) {
          width: 260px;
          left: 70px;
          bottom: 6px;
        }
        @media (max-width: $small_devices) {
          width: 240px;
          bottom: 7px;
        }
        @media (max-width: $mobile) {
          width: 50vw;
        }
        @media (max-width: 400px) {
          left: 12vw;
          bottom: 1.25vh;
        }
      }
    }

    #btn-space {
      margin-top: 40px;
      height: 3.5rem;
    }

    .button {
      height: 3.5rem;
      margin-top: 40px;

      .learn-more {
        width: 14.8rem;
        background-color: rgb(21, 39, 53);

        .circle {
          height: 3.5rem;
          width: 3.5rem;
          background-color: darken($color: $light_green, $amount: 3);

          .arrow {
            left: 0.85rem;

            &::before {
              width: 0.725rem;
              height: 0.725rem;
              top: -0.3rem;
            }
          }
        }

        .button-text {
          font-size: 24px;
          color: lighten($color: $light_green, $amount: 30);
          right: 0;

          @media (max-width: $small_devices) {
            font-size: 22px;
          }
          @media (max-width: 400px) {
            font-size: 5.5vw;
          }
        }

        &:hover {
          .circle {
            width: 100%;

            .arrow {
              transform: translate(0.8rem, 0) rotate(90deg) !important;
            }
          }
          .button-text {
            color: $white;
          }
        }

        @media (max-width: $mobile) {
          width: 14rem;
        }
      }
    }

    @media (max-width: $mobile) {
      background-color: rgba(20, 27, 43, 0.5);
    }
  }
}
