@import "../../styles/vaiables.scss";
@import "../../styles/mixins.scss";

.nav-bar {
  @include size(55px);
  @include position(sticky, -0.1px);
  background-color: $dark_blue;
  border-bottom: 3px solid #04c2c9;

  .desktop {
    display: none;

    a {
      @include fonts(18px, 400);
      text-decoration: none;
      color: rgb(238, 237, 237);
      cursor: pointer;
      transition-duration: 0.3s;
      letter-spacing: 0.5px;

      &:hover {
        color: $red;
      }
    }
    .active {
      color: $red;
    }

    @media (min-width: $small_devices) {
      @include flex(row, space-evenly);
      height: 100%;
    }
  }

  .mobile {
    height: 100%;

    .drop-down-menu {
      display: none;
      width: 100%;
      text-align: end;
      color: #fff;

      @media (max-width: $small_devices) {
        @include flex(row, flex-end);
        height: 100%;
      }
    }
  }
}

// material UI dropdown menu
.menu-icon {
  @include size(50px, 50px);
  margin-right: 15px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgb(39, 52, 73);
  }
}

.MuiListItem-button {
  text-align: center !important;
  color: #fff !important;
  padding: 20px 0 !important;

  &:hover {
    color: $red !important;
  }
}

.MuiDrawer-paperAnchorTop {
  background: $dark_blue !important;
  height: 100vh !important;
  justify-content: center;

  svg {
    @extend .menu-icon;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    padding: 5px;
    color: $white;
  }
}

.about {
  padding: 200px 0;
  // border: 1px solid red;
}
.blog {
  padding: 200px 0;
  border: 1px solid green;
}
.portfolio {
  padding: 200px 0;
  border: 1px solid blue;
}
.contact {
  padding: 300px 0;
  border: 1px solid orange;
}

.bottom {
  width: 50px;
  height: 3px;
  background-color: #fff;
}
