@import "../../index.scss";

.nav-bar {
  background-color: $dark_blue;
  position: sticky;
  width: 100%;
  top: -0.1px;
  border-bottom: 3px solid #04c2c9;
  height: 55px;

  .desktop {
    display: none;

    a {
      text-decoration: none;
      color: rgb(238, 237, 237);
      cursor: pointer;
      transition-duration: 0.3s;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.5px;

      &:hover {
        color: $red;
      }
    }
    .active {
      color: $red;
    }

    @media (min-width: $small_devices) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }
  }

  .mobile {
    height: 100%;

    .drop-down-menu {
      display: none;
      width: 100%;
      text-align: end;
      color: #fff;

      @media (max-width: $small_devices) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }
    }
  }
}

// material UI dropdown menu
.menu-icon {
  margin-right: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;

  &:hover {
    background-color: rgb(39, 52, 73);
  }
}

.MuiListItem-button {
  text-align: center !important;
  color: #fff !important;
  padding: 20px 0 !important;

  &:hover {
    color: $red !important;
  }
}

.MuiDrawer-paperAnchorTop {
  background: $dark_blue !important;
  height: 100vh !important;
  justify-content: center;

  svg {
    @extend .menu-icon;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px 0 0;
    cursor: pointer;
    color: $white;
  }
}

.about {
  padding: 200px 0;
  // border: 1px solid red;
}
.blog {
  padding: 200px 0;
  border: 1px solid green;
}
.portfolio {
  padding: 200px 0;
  border: 1px solid blue;
}
.contact {
  padding: 300px 0;
  border: 1px solid orange;
}

.bottom {
  width: 50px;
  height: 3px;
  background-color: #fff;
}
