@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.hexagon-wrapper {
  @include flex(column, align=center);
  margin: 30px 10px;
  position: relative;

  .hexagon {
    @include flex(row, center, center);
    @include size(55px, 100px);
    background: $light_green;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 29px solid $light_green;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 29px solid $light_green;
    }

    _:-webkit-full-screen:not(:root:root),
    &::before {
      top: -27.8675px;
    }
    _:-webkit-full-screen:not(:root:root),
    &::after {
      bottom: -27.8675px;
    }

    img {
      height: 50px;
    }

    @media (max-width: $mobile) {
      @include size(45px, 90px);

      &::before {
        border-left-width: 45px;
        border-right-width: 45px;
      }
      &::after {
        border-left-width: 45px;
        border-right-width: 45px;
      }

      img {
        height: 40px;
      }
    }
  }

  h2 {
    margin: 40px 0 5px 0;
  }

  @media (min-width: 500px) {
    width: 230px;
    margin: 30px 5px;
  }
}
