@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.react-responsive-modal-modal {
  overflow: hidden;
  max-width: 640px;
  padding: 0;

  .details {
    padding: 20px;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-weight: 600;
      padding: 5px 0 10px 0;
      border-bottom: 1px solid rgb(212, 211, 211);
      margin-bottom: 15px;
      color: rgb(196, 195, 195);
      font-size: 20px;
    }
    p {
      text-align: start;
    }

    .links {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 120px;
        color: #232d38;
        border: 1px solid #c0c1c2;
        outline: none;
        padding: 8px 0;
        transition-duration: 0.3s;
        font-weight: 500;
        font-size: 17px;

        svg {
          margin-right: 5px;
        }

        &:hover {
          background-color: $light_green;
          border-color: $light_green;
          color: $white;
        }
      }
    }
  }

  .react-responsive-modal-closeButton {
    outline: none;
    font-size: 36px;
    top: 10px;
    right: 10px;
    z-index: 99;
    color: $white;

    svg {
      transition-duration: 0.3s;
    }

    &:hover {
      svg {
        fill: $red;
      }
    }
  }
}

.customOverlay {
  background: rgba(14, 38, 48, 0.9);
  padding: 0 1.2rem;
  height: 95.1vh;
  margin-top: 4.9vh;
}

@keyframes customEnterAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
