html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;

  .home {
    #bg-animation {
      margin: 0;
      height: 100vh;
      max-height: 100vh;
      z-index: -1;
    }

    .heading {
      position: absolute;
      top: 36%;
      width: 100%;

      h1 {
        font-size: 45px;
        color: #fff;
        line-height: 70px;

        img {
          width: 280px;
          position: relative;
          bottom: 118px;
          left: 90px;
        }

        span {
          font-weight: 500;
          font-style: italic;
          color: wheat;
          padding: 5px 15px;
        }
      }

      button {
        font-size: 26px;
        margin-top: 30px;
        padding: 10px 20px;
        color: #fff;
        background-color: inherit;
        border: 2px solid #fff;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;

        svg {
          margin-left: 15px;
          vertical-align: middle;
          z-index: 99;
          transition-duration: 0.3s;
        }

        &:hover {
          background-color: rgb(66, 177, 192);
          border: 2px solid rgb(66, 177, 192);
          transition-duration: 0.3s;

          svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .nav-bar {
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(20, 27, 43);
    position: sticky;
    width: 100%;
    top: -0.1px;
    border-bottom: 5px solid rgb(66, 177, 192);

    a {
      text-decoration: none;
      color: rgb(238, 237, 237);
      cursor: pointer;
      transition-duration: 0.3s;
      font-size: 18px;
      font-weight: 100;

      &:hover {
        color: rgb(212, 16, 59);
      }
    }
  }
}
.active {
  color: rgb(212, 16, 59) !important;
}

.about {
  // border: 2px solid red;
  padding: 200px;
}
.blog {
  border: 2px solid blue;
  padding: 200px;
}
.portfolio {
  border: 2px solid green;
  padding: 200px;
}
.contact {
  border: 2px solid orange;
  padding: 300px;
}
