@import "../../styles/vaiables.scss";

.octagon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  margin: 10px 20px;
  position: relative;

  h2 {
    margin: 10px 0;
    color: lighten($color: $dark_gray, $amount: 10);
    font-family: "Raleway-bold";
  }
  p {
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: lighten($color: $dark_gray, $amount: 10);
  }
  img {
    height: 50px;
    position: absolute;
    top: 30px;
  }
}

.octagon {
  width: 110px;
  height: 110px;
  background: $light_green;
  position: relative;
  right: 2px;
  z-index: -99;
}
.octagon:before {
  content: "";
  width: 110px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid $light_green;
  border-left: 29px solid #fff;
  border-right: 29px solid #fff;
}
.octagon:after {
  content: "";
  width: 110px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid $light_green;
  border-left: 29px solid #fff;
  border-right: 29px solid #fff;
}
