@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.projects-container {
  background-color: $light_gray;

  .diagonal-container {
    svg {
      background-color: #fff;

      polygon {
        fill: #f2f2f2;
      }
    }
  }

  .projects {
    @include flex(column, center, center);
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 30px;

    .cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .img_1 {
        background-image: url("https://cdn.pixabay.com/photo/2020/08/29/18/50/coastal-5527726__480.jpg");
      }
    }
    @media (max-width: 500px) {
      padding: 20px 0;
    }
  }
  @media (max-width: 500px) {
    margin-top: 20px;
  }
}
