@import "../../styles/mixins.scss";
@import "../../styles/vaiables.scss";

.projects-container {
  background-color: $light_gray;

  .projects {
    @include flex(column, center, center);
    max-width: 1200px;
    margin: auto;
    padding: 70px 0;

    .cards {
      border: 1px solid blue;
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      // grid-gap: 10px;
    }
  }
}
