@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.projects-container {
  background-color: $light_gray;

  .projects {
    @include flex(column, center, center);
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 30px;

    .cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .img_1 {
        background-image: url("../../images/projectsImages/covid1.png");
      }
      .img_2 {
        background-image: url("../../images/projectsImages/farmersMarket1.png");
      }
      .img_3 {
        background-image: url("../../images/projectsImages/gameOfLife1.png");
      }
      .img_4 {
        background-image: url("../../images/projectsImages/github1.png");
      }
      .img_5 {
        background-image: url("../../images/projectsImages/photography1.png");
        background-position: center;
      }
      .img_6 {
        background-image: url("../../images/projectsImages/todoList1.png");
      }
    }
    @media (max-width: 500px) {
      padding: 20px 0;
    }
  }
}
